/* TODO Add site wide styles */
.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  .site-layout-background {
    background: #fff;
  }

  .log-card {
      margin-top: 10px;
  }

  .formz {
      margin-top: 15px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container > div{
    padding: 20px;
    font-size: 30px;
  }

  .shadows {
    border: 1px solid;

    box-shadow: 5px 10px 18px #888888;
  }

  .champ-title {
    text-align: center;
    padding-top: 15px;
    font-size: larger;
  }
